.loader {
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #3498db;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 0.75s linear infinite; /* Safari */
        animation: spin 0.75s  linear infinite;
        position: relative;
        top: calc(50% - 40px); 
        left: calc(50% - 40px);
        }


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader > .icon{
  font-size:32px;
  text-align:center;
  display:block;
  margin:30% 0;
}